.vscode



# THIS DEPENDENCIES ARE FOR 'backend' DIRECTORY
backend/.vscode
backend/bin
backend/obj
backend/appsettings.Development.json
# I'VE WRITTEN BY MYSELF



# THIS DEPENDENCIES ARE FOR 'frontend' DIRECTORY
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# dependencies
frontend/node_modules
frontend/.pnp
.pnp.js
# testing
frontend/coverage
# production
frontend/build
# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
#---
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# I CUT AND PASTE FROM THE .gitignore THAT IS CREATED AUTOMATICALLY AFTER CREATE A NEW REACT.JS